### Learning IBM DB and Practicing SQL

In [19]:
# IBM DATABASE API
import ibm_db
import pandas
import ibm_db_dbi

In [4]:
# Database connection credentials
dsn_hostname = "dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net" 
dsn_uid = "sgn54194"        
dsn_pwd = "rrb24^n3pw06p6zp"      
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            
dsn_port = "50000"                
dsn_protocol = "TCPIP"

In [5]:
# Create DSN Connection
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=sgn54194;PWD=rrb24^n3pw06p6zp;

In [6]:
#Create database connection
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  sgn54194 on host:  dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net

In [8]:
#Create Example Table
createQuery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

#Now fill in the name of the method and execute the statement
createStmt = ibm_db.exec_immediate(conn,createQuery)

In [9]:
#Inserts
insertQuery = "INSERT INTO INSTRUCTOR VALUES(1,'RAV','AHUJA','TORONTO','CA'),(2,'RAUL','CHOUNG','MARKHAM','CA'),(3,'HIMA','VASUDEVAN','CHICAGO','US')"

#execute the insert statement
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [13]:
#Select
selectQuery = "SELECT * from INSTRUCTOR"

#Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

#Fetch the Dictionary (for the first row only) - replace ... with your code
ibm_db.fetch_both(selectStmt)

{'ID': 1,
 0: 1,
 'FNAME': 'RAV',
 1: 'RAV',
 'LNAME': 'AHUJA',
 2: 'AHUJA',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [18]:
#Update
updateQuery = "update INSTRUCTOR set CITY='MOOSETOWN' where FNAME='Rav'"
updateStmt = ibm_db.exec_immediate(conn, updateQuery)

In [20]:
#Connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [21]:
#Select To DataFrame
selectQuery = "select * from INSTRUCTOR"

#retrieve the query results into a pandas dataframe
pdf = pandas.read_sql(selectQuery, pconn)

In [22]:
pdf

   ID FNAME      LNAME     CITY CCODE
0   1   RAV      AHUJA  TORONTO    CA
1   2  RAUL     CHOUNG  MARKHAM    CA
2   3  HIMA  VASUDEVAN  CHICAGO    US

In [24]:
ibm_db.close(conn)

Exception: Connection is not active